.fa-solid{
    cursor: pointer;
    margin-left: 8px;
}
#unidad{
  width: 50px;
  font-size: 14px;
  border-width: 0px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: dotted;
  border-radius: 50px;
  box-shadow: 0px 0px 14px rgba(66,66,66,.60);
  text-shadow: 0px 0px 0px rgba(66,66,66,.75);
}
.card{
  border-radius: 10px;
}
