<div class="container  mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2"></div>
        <div class="card">
            <div class="card-body text-center">
                <span class="titulo">LISTADO DE PRODUCTOS</span>
                <button class="btn btn-success float-end" [routerLink]="['/crear']"
                    routerLinkActive="router-link-active">Nuevo</button>
                <table class="table table-striped mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Unidades</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of listproductos">
                            <th scope="row">{{producto.nombre}}</th>
                            <td>{{producto.categoria}}</td>
                            <td>{{producto.ubicacion}}</td>
                            <td>{{producto.precio | currency:'COP $'}}</td>
                            <td>{{producto.estado}}</td>
                            <td><input id="unidad" type="number" placeholder="{{producto.unidad}}"></td>
                            <td>
                                <i (click)="eliminarproducto(producto._id)" (click)="refresh()"
                                    class="fa-solid fa-trash text-danger"></i>
                                <i [routerLink]="['/editar',producto._id]" routerLinkActive="router-link-active"
                                    class="fa-solid fa-pen-to-square text-primary"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <mat-paginator class="center" [length]="100" [pageSize]="1" [pageSizeOptions]="[1,2,3,4,5,6,7,8,9,10,25,100]"
                    aria-label="Select page" (page)="paginacion($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
